*{
    margin : 0;
    padding : 0;
}

.fuwatAnime {
    -webkit-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    animation-fill-mode:both;
    -webkit-animation-duration:1.5s;
    -ms-animation-duration:1.5s;
    animation-duration:1.5s;
    -webkit-animation-name: fuwatAnime;
    -ms-animation-name: fuwatAnime;
    animation-name: fuwatAnime;
    visibility: visible !important;
   }
   @-webkit-keyframes fuwatAnime {
    0% { opacity: 0; -webkit-transform: translateY(-20px); }
    100% { opacity: 1; -webkit-transform: translateY(0); }
   }
   @keyframes fuwatAnime {
    0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
    100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
   }

@font-face {
    font-family: "font1";
    src: url(fonts/Futura-Boo.ttf);
  }
@font-face {
    font-family: "font2";
    src: url(fonts/Futura-LigObl.ttf);
}
@font-face{
    font-family: "font3";
    src: url(fonts/Futura-Bol.ttf);
}

@font-face {
    font-family: "font4";
    src: url(fonts/Futura-Lig.ttf);
}

#top {
    height: 100vh;
    background-size: cover;
    position: relative;
}

#top ul{
    overflow:hidden;
    display: flex;
    top : 0;
    right : 0;
    position: absolute;
}

#top ul li{
    padding: 15px 15px;
    list-style: none;
}

#top a{
    display: inline-block;
    text-decoration: none;
    color : white;
    font-size : 25px;
    font-weight: bold;
    font-family: "font1";
}

#top a:hover{
    color: blue;
}

.up{
    position: absolute;
    top: 40%;
    left : 20%;
    text-align: center;
}

.up img{
    width : 60vw;
    margin : auto;
}

.up p{
    color : white;
    font-style: italic;
    font-size : 30px;
}
.intro-image img{
    width : 50%;
    height : 50%;
}

.title{
    text-align: center;
    font-size: 50px;
    color: blue;
    font-weight: bold;
    padding: 30px;
}

.intro-up{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    justify-content: center;
}

.intro-image img{
    width: 500px;
    margin: 20px;
}

.intro-text {
    width: 500px;
    margin: 0px 20px;
    align-items: center;
}

.intro-text p{
    width: 400px;
}

.intro-text a {
    display: block;
    line-height: 50px;
    width: 150px;
    height: 50px;
    margin: 30px auto;
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 12px;
}

.intro-text a:hover{
    box-shadow: 0 2px 15px 2px rgba(140,140,140,0.4);
}

.blue{
    background-color: #3652c5;
}

.yellow{
    background-color: #FFC832;
}

.intro-down{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    justify-content: center;
}

#courses{
    position: relative;
}

#particles-js {
    background-color: #DCEAFC;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.course-list-all{
    display: flex;
    justify-content: center;
    margin-left: auto; 
    margin-right: auto;
    width: 80%;
    flex-wrap: wrap;
}

.course-style{
    width: 200px;
    height: 300px;
    background-color: white;
    background-repeat: 8px;
    text-align: center;
    padding: 30px;
    margin: 10px;
    border-radius: 12px;
}

.course-style .course-image{
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
}

.course-image img {
    min-width:  90px;
    min-height: 90px;
}

.course-style h3{
    font-size: 15px;
    margin: 10px;
    padding-top: 30px;
}

.course-style a{
    display: block;
    width: 160px;
    height: 35px;
    color : white;
    font-size: 14px;
    margin: 30px auto; 
    text-decoration:none;
    border-radius: 12px;
    padding-top: 10px;
}

.html{
    background-color : orange;
}

.css{
    background-color : lightblue;
}

.unity{
    background-color : black;
}

.ruby{
    background-color : red;
}

.javascript{
    background-color : yellow;
}

.swift{
    background-color : orangered;
}

.go{
    background-color : lightskyblue;
}

#images{
    margin-bottom: 50px;
}

.slider{
    margin: 30px;
    width: 80%;
    margin: 0 auto;
}

.slider img{
    height: 60%;
    width: 100%;
}

.slick-prev::before, .slick-next::before{
    z-index:100;
    color: black !important;
    opacity: 0.8;
}
.map{
    text-align: center;
}
iframe{
    width: 600px;
    height: 450px;
}

footer p{
    display: block;
    height: 60px;
    font-weight: normal;
    text-align: center;
    color : rgb(2, 71, 114);
    margin-top: 20px;
}